.app{
  &__image-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11.52%;
    flex-direction: column;
    p {
      font-size: 18px;
      font-weight: bold;
    }
    @media (min-width: 767px) {
      margin-top: 7%;
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 2em;
  }
}