.navbar_container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;
  top: 95%;
  left: 50px;

  @media (min-width: 767px) {
    font-size: 36px;
    position: fixed;
    top:0;
    bottom: 0;
    left: 60%;
  }

}